$primaryColor : #463cff; 
$primaryLightColor : #8480db; 
$primaryDarkColor : #363457; 

$light : #f1f1f1;
$lightBorder : #6e6e6e;

$dark : rgb(36, 36, 36);
// $dark : rgb(241, 241, 241);

$placeHolderlight : #7a7a7a;
$iconsLight : #d3d3d3;

$dangerColor : #FF7878;
$dangerColorDark : #743737;
$dangerColorDarkTEXT : #3b1c1c;


$succesColor : #B5CDA3;
$succesColorDark : #4c5f3d;
$succesColorDarkTEXT : #26301e;


$normalColor : #b7ac79 ;
$normalColorDark : #4e4932 ;
$normalColorDarkTEXT : #2c2a1d ;



