$lowSinzing : 100px ;
$mediumSinzing : 300px ;
$hightSzing : 500px ;

$minHeight : 100vh;

$defaultSizing : 30vw;

$minSinzing : 200px ;

$lowBorderRadius : 8px;

//Font sizing


$lowFontSizing : 8px;
$mediumFontSizing : 12px;
$hightFontSizing : 16px;




