*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    user-select: none;
    font-family: 'Readex Pro', sans-serif  ;
}


@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');

//Spacing
@import './Variable/Spacing.scss';

//color
@import './Variable/Colors.scss';


//Sinzing
@import './Variable/Sizing.scss';

//Component
@import './Header.scss';
@import './Main.scss';
@import './Read.scss';
@import './Note.scss';
@import './Burger.scss';
@import './MenuEllipsV.scss';
@import './Message.scss';
@import './SelectedNotes.scss';
@import './Login.scss';
@import './Libelle.scss';
body{
    background-color: $dark;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $light; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
}

