
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $defaultPadding+15;
    background-color: $dark;
    // border-bottom: .5px $light solid;
    position: relative;

    &_burger_logo{
        display: flex;
        align-items: center;

    }
    &_burger_logo img{
        margin-left: $defaultMargin

    }
    &_buger_icon{
        font-size: $hightFontSizing+10px;
        color: $light;

    }
    &_search{
       
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &_search>div{ 
        display: flex;
        align-items: center;
        padding: $defaultPadding;
        background-color: $placeHolderlight  ;
        height: 45px;
        width: 50%;
        border-radius: $lowBorderRadius;
        
    }
    &_search>div>svg{ 
        font-size: $hightFontSizing;
        
    }
    &_search>div>input{
        width: 100%;
        padding: $defaultPadding;
        background-color: transparent  ;
        outline: transparent;
        border-radius: $lowBorderRadius;
        border: transparent;
        margin: $lowMargin;
        color: $light;
    }
    &_search>div>input::placeholder{
        color: $light;
        font-weight: bolder;
    }
    &_search_icon{
        color: $light;
    }

    &_profil_buttons{
        // margin-left: $defaultMargin;
        text-decoration: none;
        color: $light;
        padding: $defaultPadding;
        border-radius: $lowBorderRadius;
    }
    #Header_profil_inscription{
        background-color: $primaryColor;
        box-shadow: 0 7px 30px rgba(70, 60, 255, .08) ;
        transition: .3s ease-in;

    }
    #Header_profil_inscription:hover{
        background-color: rgb(95, 87, 252);
        box-shadow: 0 7px 30px rgba(70, 60, 255, .08) ;
        transition: .3s ease-out;

    }

    .Header_profil_icon{
        color: $light;
        cursor: pointer;
        font-size: $hightFontSizing+15px ;
        margin-left: $defaultMargin;
    }   
    .Header_profil_user{
        font-size: $hightFontSizing+30px 
    }
    .Header_profil_user>path{
        pointer-events: none;
    }
    .Header_profil_menu{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        position: absolute;
        background-color: $primaryDarkColor; 
        padding: $defaultPadding+10;
        border-radius: $lowBorderRadius;
        box-shadow: 0 2px 3px rgba($color: #000, $alpha: .5);
        overflow: hidden;
        top: 80px;
        right: 10px;
        z-index: 10;
        width:300px;
        pointer-events: none;
        opacity: 0;
        transition: ease-out;
        &_open{
            pointer-events: initial;
            opacity: 1;
            transition: .1s ease-in;

        }
        &_conditions{
            border-top: .1px solid $light;
            align-items: flex-start;
            padding-top: 10px;
        }
        &_conditions>a{
            font-size: $lowFontSizing+3 !important;
        }
        #Header_profil_menu_deco{
            width: 100%;
            text-align: center;
            margin: $defaultMargin 0px 0px 0px ;
            padding: $defaultPadding;
            background-color: $primaryLightColor;
            border-radius: $lowBorderRadius;
            box-shadow: 0 2px 3px rgba($color: #000, $alpha: .5);
        }
        #Header_profil_menu_param{
            width: 100%;
            text-align: center;
            margin: $defaultMargin 0px 0px 0px ;
            padding: $defaultPadding;
            border: $primaryLightColor 1px solid;
            border-radius: $lowBorderRadius;
            color: $primaryLightColor ;
            font-size: initial !important;
        }
        &_gerer{

           width: 100%;
        }
        &_gerer>span{

            margin: 15px 0px 10px 0px;
        }
        &_gerer>a{
            width: 100%;
            text-align: center;
            margin: $defaultMargin 0px 0 0px !important;
            padding: $defaultPadding;
            border: $light 1px solid;
            border-radius: $lowBorderRadius+10;
            box-shadow: 0 2px 3px rgba($color: #000, $alpha: .5);
        }
    }
    .Header_profil_menu>div{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .Header_profil_menu>div>svg{
        cursor: default;
        font-size: $hightFontSizing+45;
    }
    .Header_profil_menu>div>span{
        cursor: pointer;
        color: $light;
    }
    .Header_profil_menu>div>a{
        margin : 5px 0 5px 0 ;
        font-size: $lowFontSizing+5;
        cursor: pointer;
        color: $light;
        text-decoration: transparent;
    }
    

}