
.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $defaultPadding+15;
    background-color: $dark;
    // border-bottom: .5px $light solid;

    &_burger_logo{
        display: flex;
        align-items: center;

    }
    &_burger_logo img{
        margin-left: $defaultMargin

    }
    &_buger_icon{
        font-size: $hightFontSizing+10px;
        color: $light;

    }
    &_search{
       
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &_search>div{ 
        display: flex;
        align-items: center;
        padding: $defaultPadding;
        background-color: $placeHolderlight  ;
        height: 45px;
        width: 50%;
        border-radius: $lowBorderRadius;
        
    }
    &_search>div>svg{ 
        font-size: $hightFontSizing;
        
    }
    &_search>div>input{
        width: 100%;
        padding: $defaultPadding;
        background-color: transparent  ;
        outline: transparent;
        border-radius: $lowBorderRadius;
        border: transparent;
        margin: $lowMargin;
        color: $light;
    }
    &_search>div>input::placeholder{
        color: $light;
        font-weight: bolder;
    }
    &_search_icon{
        color: $light;
    }

    &_profil_buttons{
        // margin-left: $defaultMargin;
        text-decoration: none;
        color: $light;
        padding: $defaultPadding;
        border-radius: $lowBorderRadius;
    }
    #Header_profil_inscription{
        background-color: $primaryColor;
        box-shadow: 0 7px 30px rgba(70, 60, 255, .08) ;
        transition: .3s ease-in;

    }
    #Header_profil_inscription:hover{
        background-color: rgb(95, 87, 252);
        box-shadow: 0 7px 30px rgba(70, 60, 255, .08) ;
        transition: .3s ease-out;

    }

    .Header_profil_icon{
        color: $light;
        cursor: pointer;
        font-size: $hightFontSizing+5px ;
        margin-left: $defaultMargin;
    }   
    .Header_profil_user{
        font-size: $hightFontSizing+15px 
    }

}