.Main{
    display: flex;

    &_body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &_create_read{
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: 0 auto;
    }
}