.Read{

    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    width: 98%;
    
}
.hightLightSelection{
   background-color: rgba(100,100,100,.08);
    position : absolute;
    height : 0px;
    width : 0px;
    pointer-events : none;
}
.Read_emptydata{
    color: rgb(63, 63, 63);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}
.Read_emptydata>svg{
    color: rgb(63, 63, 63);
    font-size: 100px;
    
}