.SelectedNotes_menuSelectedNotes{
    transition: .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: $dark;
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 0px;
    left: 0;
    top:0px;
    color: white;
    font-size: $hightFontSizing+10;
    font-weight: bolder;
    
    &_open{
        overflow: visible;
        transition: .2s ease-in;
        height: 100px;
        padding: $defaultPadding+15;
    }  
}
.SelectedNotes_menuSelectedNotes>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.SelectedNotes_menuSelectedNotes>div>svg{
    cursor: pointer;
    margin: $defaultMargin;
    width: $hightFontSizing+5;
    height: $hightFontSizing+5;
}

.SelectedNotes_MenuEllipsV{

    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: absolute;
    background-color: $dark; 
    padding: $defaultPadding;
    border-radius: 0 $lowBorderRadius $lowBorderRadius $lowBorderRadius;
    box-shadow: 0 2px 3px rgba($color: #000, $alpha: .5);
    overflow: hidden;
    right: 45px;
    bottom: -40px;
    z-index: 10;
    width: 0;
    opacity: 0;
    transition: ease-out;
    &_open{
        width: initial;
        opacity: 1;
        transition: .1s ease-in;

    }

}

.SelectedNotes_MenuEllipsV button{
    background-color: transparent;
    border: transparent;
    color: $light;
    padding: 5px;
}
.SelectedNotes_MenuEllipsV button:hover{
   background-color: rgb(43, 43, 43);
   border-radius: 3px;
   
}

.SelectedNotes_MenuColors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    position: absolute;
    background-color: $dark; 
    padding: $defaultPadding;
    border-radius: $lowBorderRadius;
    box-shadow: 0 2px 3px rgba($color: #000, $alpha: .5);
    overflow: hidden;
    right: 20px;
    bottom: -34px;
    z-index: 10;
    width: 70px;
    pointer-events: none;
    height: 65px;
    opacity: 0;
    transition: ease-out;
    
    &_open{
        pointer-events: initial;
        opacity: 1;
        transition: .1s ease-in;

    }
}

.SelectedNotes_MenuColors button{
    background-color: transparent;
    border: transparent;
    border-radius: 3px;
    padding: 5px;
}
.SelectedNotes_MenuColors button>div{
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.SelectedNotes_MenuColors button:hover{
   background-color: rgb(43, 43, 43);
   transition: .1s ease-in-out;
   border-radius: 3px;
   cursor: pointer;
   
}